{% extends 'base.html' %}

{% block content %}

<h1>Add Intelligence Feed</h1>

<form method="POST">

    {% csrf_token %}

    <input type="text" name="source" class="form-control mb-3" placeholder="Source">

    <input type="text" name="threat_type" class="form-control mb-3" placeholder="Threat Type">

    <input type="text" name="severity" class="form-control mb-3" placeholder="Severity">

    <textarea name="description" class="form-control mb-3" placeholder="Description"></textarea>

    <button class="btn btn-primary">
        Save
    </button>

</form>

{% endblock %}